.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main {
  flex: 1;
  /* spazio per non far coprire i contenuti dalla barra player fissa in basso */
  padding-bottom: 80px;
}
